<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Edit Profile</h5></div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Company (disabled) </label>
                  <input
                    class=" form-control"
                    disabled=""
                    placeholder="Company"
                    type="text"
                    value="Company"
                  />
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <label> Username </label>
                  <input
                    class=" form-control"
                    placeholder="Username"
                    type="text"
                    value=""
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Email address </label>
                  <input
                    class=" form-control"
                    placeholder="example@domain.com"
                    type=""
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> First Name </label>
                  <input
                    class=" form-control"
                    placeholder="First Name"
                    type="text"
                    value=""
                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Last Name </label>
                  <input
                    class=" form-control"
                    placeholder="Last Name"
                    type="text"
                    value=""
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Address </label>
                  <input
                    class=" form-control"
                    placeholder="Home Address"
                    type="text"
                    value=""
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> City </label>
                  <input
                    class=" form-control"
                    placeholder="City"
                    type="text"
                    value=""
                  />
                </div>
              </div>
              <div class=" col-md-4 px-md-1">
                <div class=" form-group">
                  <label> Country </label>
                  <input
                    class=" form-control"
                    placeholder="Country"
                    type="text"
                    value=""
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label> Postal Code </label>
                  <input
                    class=" form-control"
                    placeholder="ZIP Code"
                    type="number"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-8">
                <div class=" form-group">
                  <label> About Me </label>
                  <textarea
                    class=" form-control"
                    cols="80"
                    placeholder="Here can be your description"
                    rows="4"
                    value=""
                  >

</textarea
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit">Save</button>
        </div>
      </div>
    </div>
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" src="https://www.denverpost.com/wp-content/uploads/2022/07/TDP-Z-ZLZD27IM-01.jpg?w=1024" />

              <h5 class=" title">Narc Drone</h5>
            </a>
            <p class=" description">Park Surveillance</p>
          </div>
          <div class=" card-description">
          The City of El Paso Parks and Recreation Department is increasingly having several incidents of vandalism occuring in their parks after hours. From this, resulting damage has escalated to individual acts costing the city and taxpayers excess of  $250,000 per incident. This does not include the cost of resources spent on rerouting police officers and purchasing additional deterrent methods. The department responsible for managing and litigating these cases has stated that they do not have sufficient manpower or the budget to keep security at these parks overnight after the park has closed.
          </div>
        </div>
        <div class=" card-footer">
          <div class=" button-container">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
